api.midnight-club-app.ru {

    encode gzip


    handle /clock/* {
                        reverse_proxy clock-backend:8081
                    }

    handle /api/* {
                      reverse_proxy app-backend:8080
                  }
    handle {
               respond "not found" 404
           }
}