api.midnight-club-app.ru {

    log {
        level INFO
        output stdout
    }

    encode gzip

    header {
            Access-Control-Allow-Origin "https://poker-clock-nine.vercel.app"
            Access-Control-Allow-Methods "GET, POST, PUT, DELETE, PATCH, OPTIONS"
            Access-Control-Allow-Headers "Origin, Content-Type, Authorization, Accept"
            Access-Control-Allow-Credentials "false"
            Access-Control-Max-Age "86400"
        }

        @options method OPTIONS
        respond @options 204

        reverse_proxy app-backend:8080
}

